qualifier {
    left: 0px;
    bottom: 0px;
    margin: 5px;
    position: absolute;
    width: 100%;
    p{
        margin: 2px;
    }
    button {
        height: 25px;
        width: 25px;
        color: white;
        border-radius: 50%;
        border: 2px solid white;
        background: #000000;
        opacity: .5;
        font-weight: bold;
    }

    button:hover{ 
        opacity: 1;
    }

    
}
